@inherits UmbracoViewPage


@{
    var globalSettings = (Umbraco.Web.PublishedModels.GlobalSettings)Model.GlobalSettings();
    Options pageLayout;

    //If Page is a blog category, need to get layout from blog landing page
    if (Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
    {
        IPublishedContent blogLandingPage = Model.AncestorOrSelf(BlogLandingPage.ModelTypeAlias);
        pageLayout = !blogLandingPage.HasValue("pageLayout") ? globalSettings.DefaultPageLayout : blogLandingPage.Value<Options>("pageLayout");
    }
    else
    {
        pageLayout = !Model.HasValue("pageLayout") ? globalSettings.DefaultPageLayout : Model.Value<Options>("pageLayout");
    }

    switch (pageLayout)
    {
        case Options.PageLayout_Left:
			<div class="right-col col-lg-3 col-md-4 col-xs-12 pull-right">                                                     
               @if (Model.IsDocumentType(BlogLandingPage.ModelTypeAlias) || Model.IsDocumentType(StandardPageBlogPost.ModelTypeAlias) || Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
               {
                   @Html.Partial("Blog/BlogArchiveNavigation", Model)
                   @Html.Partial("Blog/BlogCategoryNavigation", Model)
               }

			    <!-- SUB  -->
			    @Html.Partial("Navigation/SubNavigation", Model)
			    <!--// SUB -->
			    <!-- PROMO PODS -->
			    @Html.Partial("SiteWidePods/SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "vertical" } })
			    <!--// PROMO PODS -->
			</div>
            break;
        case Options.PageLayout_Right:
            <div class="left-col col-lg-3 col-md-4 col-xs-12 pull-left">
                @if (Model.IsDocumentType(BlogLandingPage.ModelTypeAlias) || Model.IsDocumentType(StandardPageBlogPost.ModelTypeAlias) || Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
                {
                    @Html.Partial("Blog/BlogArchiveNavigation", Model)
                    @Html.Partial("Blog/BlogCategoryNavigation", Model)
                }

                <!-- SUB  -->
                @Html.Partial("Navigation/SubNavigation", Model)
                <!--// SUB -->
                <!-- PROMO PODS -->
                @Html.Partial("SiteWidePods/SitewidePods", Model, new ViewDataDictionary { { "podstyle", "vertical" } })
                <!--// PROMO PODS -->
            </div>
            break;
        case Options.PageLayout_CenterAlt:
            <div class="left-col col-md-3 col-md-pull-6 col-xs-12">
                <!-- SUB  -->
                @Html.Partial("SiteWidePods/SitewidePods", Model, new ViewDataDictionary { { "podstyle", "vertical" } })
                <!--// SUB -->
            </div>
            <div class="right-col col-md-3 col-xs-12">
                @if (Model.IsDocumentType(BlogLandingPage.ModelTypeAlias) || Model.IsDocumentType(StandardPageBlogPost.ModelTypeAlias) || Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
                {
                    @Html.Partial("Blog/BlogArchiveNavigation", Model)
                    @Html.Partial("Blog/BlogCategoryNavigation", Model)
                }
                <!-- SUB  -->
                @Html.Partial("Navigation/SubNavigation", Model)
                <!--// SUB -->
            </div>
            break;
        case Options.PageLayout_Center:
            <div class="left-col col-md-3 col-md-pull-6 col-xs-12">
               @if (Model.IsDocumentType(BlogLandingPage.ModelTypeAlias) || Model.IsDocumentType(StandardPageBlogPost.ModelTypeAlias) || Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
               {
                    @Html.Partial("Blog/BlogArchiveNavigation", Model)
                    @Html.Partial("Blog/BlogCategoryNavigation", Model)
                }
                <!-- SUB  -->
                @Html.Partial("Navigation/SubNavigation", Model, new ViewDataDictionary { { "podstyle", "vertical" } })
                <!--// SUB -->
            </div>
            <div class="right-col col-md-3 col-xs-12">
                <!-- SUB  -->
                @Html.Partial("SiteWidePods/SitewidePods", Model, new ViewDataDictionary { { "podstyle", "vertical" } })
                <!--// SUB -->
            </div>
            break;
        case Options.PageLayout_Wide:
            break;
        default:
            <div class="right-col col-lg-3 col-md-4 col-xs-12 pull-right">
                @if (Model.IsDocumentType(BlogLandingPage.ModelTypeAlias) || Model.IsDocumentType(StandardPageBlogPost.ModelTypeAlias) || Model.IsDocumentType(BlogCategoryPage.ModelTypeAlias))
                {
                    @Html.Partial("Blog/BlogArchiveNavigation", Model)
                    @Html.Partial("Blog/BlogCategoryNavigation", Model)
                }
                <!-- SUB  -->
                @Html.Partial("Navigation/SubNavigation", Model)
                <!--// SUB -->
                <!-- PROMO PODS -->
                @Html.Partial("SiteWidePods/SitewidePods", Model, new ViewDataDictionary { { "podstyle", "vertical" } })
                <!--// PROMO PODS -->
            </div>
            break;
    }

}
