@inherits UmbracoViewPage

@using Umbraco.Web.Models;
@using ESO.Models;

@{
    var navigation = (Navigation)Model.Navigation();

    if (navigation.LoginPage != null)
    {
        string navigationHeading = Umbraco.GetDictionaryValue(" Members Navigation Default Heading");

        if (navigation.MembersNavigationHeading.HasValue())
        {
            navigationHeading = navigation.MembersNavigationHeading;
        }

        <nav class="quick-links">

            <p class="heading">@navigationHeading</p>

            <ul class="row">


                @if (navigation.LoginPage != null)
                {
                    IPublishedContent loginPage = navigation.LoginPage;

                    if (Umbraco.MemberIsLoggedOn())
                    {
                        RelatedLinks loggedInMembersNavigation = (RelatedLinks)navigation.LoggedInMembersNavigation;

                        <li><i class="fa fa-user c1-text"></i>@Context.User.Identity.Name</li>

                        if (loggedInMembersNavigation != null)
                        {
                            // TODO CS0246, CS0266
                            /*foreach (RelatedLink link in loggedInMembersNavigation)
                            {
                                Umbraco.Web.Models.Link memberLink = UrlHelper.GetLinkFromRelatedLink(link);

                                if ((memberLink.InternalNode != null && memberLink.InternalNode.IsVisible()) || (memberLink.LinkURL != String.Empty))
                                {
                                    <li>
                                        <a href="@memberLink.LinkURL" @Html.Raw(memberLink.LinkTarget) @Html.Raw(memberLink.LinkTitle)>@memberLink.LinkCaption@Html.Raw(memberLink.LinkIcon)</a>
                                    </li>
                                }
                            }*/
                        }

                        <li><a href="@loginPage.Url?signout=true">@Umbraco.GetDictionaryValue(" Members Navigation Logout")<i class="fa fa-sign-out c1-text after"></i></a></li>

                    }
                    else
                    {
                        <li><a href="@loginPage.Url"><i class="fa fa-sign-in c1-text"></i>@Umbraco.GetDictionaryValue(" Members Navigation Login")</a></li>
                    }
                }

            </ul>
        </nav>
    }
}