@inherits UmbracoViewPage
@using ESO.Models;

@{
    var navigation = (Navigation)Model.Navigation();

    if (navigation.SocialLinks != null && navigation.SocialLinks.Any())
    {
        string iconClass = String.Empty;

        switch (navigation.IconShape)
        {
            case Options.IconShape_Circle:
                iconClass = "img-circle";
                break;
            case Options.IconShape_Rounded:
                iconClass = "img-rounded";
                break;
            case Options.IconShape_Square:
                iconClass = String.Empty;
                break;
            default:
                iconClass = String.Empty;
                break;
        }

        <nav class="social">
            @if (navigation.SocialHeading.HasValue())
            {
                <p class="heading">@navigation.SocialHeading</p>
            }

            <ul>
                @foreach (SocialLink socialLink in navigation.SocialLinks)
                {
                    Link link = UrlHelper.GetLinkFromRelatedLinks(socialLink.Link, Umbraco);

                    if (link != null)
                    {
                        <li>
                            <a href="@link.LinkURL" @Html.Raw(link.LinkTitle) @Html.Raw(link.LinkTarget)>
                                @if (socialLink.Icon != null)
                                {
                                    <img class="lazyload @iconClass" src="@socialLink.Icon.GetCropUrl(cropAlias: "Icon", width: 4, height: 4)" data-src="@socialLink.Icon.GetCropUrl(cropAlias: "Icon", width: 40, height: 40)" alt="@socialLink.LinkName">
                                }
                                <span class="hidden">@socialLink.LinkName</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </nav>
    }
}